.bg-top {
  background-color: #1a1a1a;
  border-bottom: 1px solid #0c8ae6;
  display: flex;
  font-family: var(--poppins);
  align-items: center;
  justify-content: space-between;
  .right {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  .right ul {
    display: flex;
    align-items: center;
    color: var(--top-text);
    gap: 1rem;
    font-family: var(--poppins);
    list-style: none;
    margin-right: 10px;
    a {
      text-decoration: none;
      color: #626262;
    }

    .bannerlinks {
      gap: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
    .bannerlinks-icon {
      color: var(--top-text);
      list-style: none;
      gap: 10px;
      fill: #1a1a1a;
      display: flex;
      justify-content: center;
      font-family: var(--poppins);
      align-items: center;
    }
  }
  .left ul {
    display: flex;
    color: var(--top-text);
    // list-style-type: none;
    list-style: none;
    gap: 1rem;
    margin-left: 10px;
  }
}
@media (max-width: 400px) {

}
