.form-group {
  textarea {
    all: initial;
    border-bottom: 1px solid #ffffff;
    font-size: 32px;
    font-family: var(--raleway);
    padding: 10px;
    color: #ffffff;
  }
  input {
    font-family: var(--raleway);
    border: none;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    font-size: 30px;
    background-color: transparent;
    outline: none;
    margin-top: 2px;
    padding: 0;
    line-height: 12px;
    padding: 10px;
  }
}
.submit-button {
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #f07e15;
  width: 150px;
  height: 150px;
  position: relative;
  top:5px;
  cursor: pointer;
  left:340px;
  font-family: var(--poppins);
  padding: 10px;
  font-size: var(--txlarge);
  color: #f07e15;
  transition: transform 0.3s;
  &:hover{
    background-color: var(--top-text);
    transform: translateY(-10px);

  }
}
