.title {
  margin: 0px 30px;
  padding: 5px;
  display: flex;
  border-bottom: .02rem solid #ccc;
align-items: center;
justify-content: space-between;
font-family: var(--raleway);
font-weight: 800;
  h1 {
    font-family: Poppins;
    font-size: var(--tx2large);
    font-weight: 275;
    line-height: 60px;
    color: #ffffff;
    
  }
  .wishlist {
    display: flex;
    text-align: center;
    align-items: center;
    gap:.5rem;
    justify-content: center;
    color: #ffffff;
    span {
      color: #ffffff;
      display: flex;
     
    }
  }
}
@media (max-width: 400px) {

}