.title {
  padding: 10px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  text-align: center;

  justify-content: space-between;
  h1 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 275;
    line-height: 60px;
    color: #ffffff;
  }
  .wishlist {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    span {
      color: #ffffff;
      display: flex;
      margin-top: 15px;
    }
  }
}
