.footer {
    background-color: #fff;
    width: 100vw;
    background-image: url('~public/footer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 400px;
    color: #fff;
    position: relative;
    .flex{
      
 display: flex;
.left{
  padding: 2rem;
position: relative;
left:0;
width: 50%;
  h3{

    font-family: var(--syne);
font-weight: 600;
font-size: 26px;
line-height: 31.2px;
  }
  p{
    font-family: var(--raleway);
   
    position: relative;
  margin:0px 40px;
  top:15px;
  left:-166px;
  right: 0;

  }
  .bottom {
    
    position: absolute;
    color: #fff;
    padding: 2px;
    text-align: center;

  }
  
  .bottom h1 {
  
    font-family: var(--syne);
    font-size: 100px;
    padding: 2rem;
    font-weight: 800;
    line-height: 103px;
    letter-spacing: 0em;
    text-align: left;
  }
}
  
    .right{
      padding: 2rem;
      position: relative;
      right:0;
      width:50%;
      
    }
  }
  .footer-end{
    position: relative;
  bottom: 20px;
    color: #ffffff;
    background-color: #000000;
    height: 66px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p{
    text-align: center;
  }
}
  
  
 
  

  