.hero{
  height: 34rem;
  width: 100vw;

  position: relative;
  
  .color{
    height: 430px;
    width: 900px;
    background-color: #F07E15;
    position: absolute;
  top:100px;
    right: 0;
  }
  .flex{
    
  display: flex;
  .left{
    width: 60%;
    height: 100%;
  
    padding: 10px;
    h1{
      height: var(--tx2large);
      color: white;
      font-family: var(--syne);
     position: relative;
     top:10px;
      z-index: 10;
     
      position: relative;
      &:nth-child(2) {
        color: transparent;
        -webkit-text-stroke: 2px rgb(240, 235, 235); 
        position: relative;
        top:130px;
        font-size:13rem;
        margin-left: 26rem;
       
      }
      &:nth-child(1) {
        position: relative;
        top:20px;
        margin-left: 5px;
        font-size: 15rem;
       
      }
      &:nth-child(3) {
        margin-left: 30px;
        position: relative;
        top:220px;
        font-size: 13rem;
       
      }
    }

.hr{
  display: flex;
  hr{
    color:#ffffff;
    position: relative;
    z-index: 1;
    width:810px;
  top:394px;
  }
  .star4{
    position: relative;
    z-index: 1;
    top:370px;
    margin-left: -12px;
  }
}
  }
  .right{
    width: 40%;
    .img{
      top:4rem;
      position: relative;
      z-index: 1;
      padding: 1.4rem;
     
    }
    
  }
}}